.intro {
  display: flex;
  justify-content: space-between;
}

.IntroSection {
  /* margin-right: 10%; */
}

.slide {
  width: 300px;
  height: 350px;
  background-color: red;
  border-radius: 10%;
  transform:  rotate3d(189, 99, -17, 130deg);
  animation: circle 5s linear infinite;
}

.lang {
  width: 100px;
  height: 100px;
  background-color: black;
  border: 5px solid white;
  border-radius: 50%;
}

@keyframes circle {
  from {
    transform:  rotate(0deg);
  }
  to {
    transform:  rotate(360deg);
  }
}
